.bslib-page-fill {
  overflow: auto;
}

.bslib-card .card-body {
    overflow: auto;
    overflow-x: hidden;
}

.btn-navbar {
  color: #414F2F;
  background-color: #fff;
  border-color: #fff;
}

.bslib-sidebar-layout>.sidebar {
  background-color: #fff;
}

.index-info {
  background-image: url("../img/forest2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  display: flex;
}

.info-text {
  color: #bc6c25;
  background-color: #fff;
  background-color: rgba(256, 256, 256, 0.8);
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.marker-cluster-red {
  background-color: rgb(160, 50, 85);
  background-color: rgba(253, 60, 115, 0.5);

  div {
    background-color: rgb(170, 20, 60);
    background-color: rgba(241, 40, 70, 0.6);
    color: rgb(235, 235, 235)
  }
}

/* START help button */
.help-button {
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 26.25px;
  box-shadow: 0 2px 2px #888888;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin: -1rem -1rem;
  }
}

/* END help button */

/* highlight nav-item */
.navbar-nav {
  .nav-link {
    &:hover {
      color: #414f2f;
    }

    color: #414f2f;
    font-size: 1.1em;
  }

  .nav-item {
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #414f2f;
      width: 0%;
      content: "";
      height: 2px;
      transition: all 0.5s;
    }

    &:hover::after {
      width: 100%;
    }

    position: relative;
  }
}

/* END highlight nav-item */

/* shadow effect for each card (bslib) element */
.card-shadow {
  box-shadow: 0 2px 2px #888888;
}

/* slider inputs color fix (for awesome inputs which were removed) */
.irs {

  .irs-bar,
  .irs-shadow {
    background: #DDA15E;
    border-color: #DDA15E;
    color: #DDA15E;
  }

  .irs-handle {
    background: #DDA15E;
    border-color: #DDA15E;
    color: #DDA15E;
  }

  .irs-single {
    background: #DDA15E;
    border-color: #DDA15E;
  }
}

.irs--shiny .irs-handle.state_hover,
.irs--shiny .irs-handle:hover {
  background: #DDA15E;
}
/* END slider inputs color fix (for awesome inputs which were removed) */

/* shiny checkbox color fix */
.shiny-input-checkbox {
  background-color: #DDA15E !important;
  border-color: #DDA15E !important;
}


.landing-pdt-wrap {
  background: #fff;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  padding: 30px 50px;
  min-height: 325px;
  margin-bottom: 30px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-weight: 700;
      font-size: 1.5rem;
    }
  }

  .description {
    height: 100%;

    > .row {
      height: 100%;
      align-items: center;

      ul {
        list-style-image: url("title_tail.svg");
      
        li {
          font-weight: 600;
          margin-bottom: 20px;
          font-size: 1rem;
        }
      }

      .views-element-container ul {
        margin-top: 20px;
      }
    }
  }

  .img-box {
    text-align: center;

    img {
      border-radius: 50%;
      object-fit: cover;
      width: auto;
    }
  }

  a {
    transition: .3s all ease-in-out;
    text-decoration: none;
  }
}
