.html-fill-container > .html-fill-item{
  display: block;
}

.btn-navbar{
  color: #414F2F;
  background-color: #fff;
  border-color: #fff;
}

.bslib-sidebar-layout>.sidebar{
  background-color: #fff;
}
