.btn-navbar{
  color: #414F2F;
  background-color: #fff;
  border-color: #fff;
}

.bslib-sidebar-layout>.sidebar{
  background-color: #fff;
}

.info{
  background-image: url("forest2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  display: flex;
}

.info-text{
  color: #bc6c25;
  background-color: #fff;
  background-color: rgba(256,256,256,0.8);
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.marker-cluster-red {
	background-color: rgba(253, 60, 115, 0.5);
	}
.marker-cluster-red div {
	background-color: rgba(241, 40, 70, 0.6);
	color: rgb(235,235,235)
	}

.waiter-fullscreen{
  background-image: url("forest2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  display: flex;
}
